div {
	float: left;
}

.editbox {
	width: 450px;
	margin: 10px 20px;
	padding: 5px 5px;
	border: 1px solid #000000;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.editbox p {
	margin: 5px 0;
	padding: 2px;
	background-color: #00ffff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#kamieshi_add_loading {
	margin: 10px 213px;
}

.kamieshi  {
	height: 35px;
	width; 440 px;
	margin: 0 5px;
}

.kamieshi .icon {
	width: 30px;
}

.kamieshi .screen_name {
	width: 139px;
}

.kamieshi .profile_name {
	width: 255px;
}

.kamieshi .delete {
	width: 16px;
}
